<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<center><p style="padding-top: 30px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, sapiente. Excepturi quos obcaecati, praesentium exercitationem tenetur similique illum. Laboriosam molestias minima blanditiis repellendus neque esse facilis beatae doloribus unde ipsum.</p></center>

<%- include('layouts/footer') %>